/*css rules

*/

* {
	font-family: "Courier New", monospace;
	font-size:  20px;
}
body {

	background-color: skyblue;
}

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

.offering-item {
	text-transform: uppercase;
	/*pde ba multiple class sa isang html items*/
}

#zuitt-motto {
	letter-spacing: 5px;
}

/*adjacent sibling*/
h3 + img {
	height: 300px;
	width: 300px;border-radius: 300px;
}
/*general sibling*/
h2 ~ a, a {
	text-decoration: none;
}
/*child selector*/
body > section > form > label {
	color: rgb(0,0,120);
}
/*descndant selector*/
#bootcamp-learning-list {
	color: orangered;
}

html{
	scroll-behavior: smooth;
}

nav{
	background-color: whitesmoke;
}

a:hover {
	background-color: yellow;
}
div{	
display: inline-block;
float: right;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/*remove number from list*/
ol {
	list-style-type: none;


}

/*register section*/

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}