* {
	font-family: sans-serif;
	
}
div {
	border-style: dotted;
}
h1, p {
	text-align: center;

}

.summary_opt {
	display: inline-block;
}


#header {
	font-size: 12px;
}

#header-left {
	display: inline-block;
	floar: left;
}

#header-right {
	display: inline-block;
	float: right;
}

#summary_tbl {
	
}