#external-style {
    color: yellow;
}
* {
    font-family: "Verdana", sans-serif;
}
/*#languages {
    background-color: green;
}*/

#things {
    text-transform: uppercase;
}

.language {
    background-color: greenyellow;
}
li[class="tool"] {
    border-style: solid;
    border-color: skyblue;
    border-width: 1px;
}

section img{
    height: 300px;
    width: 300px;
    border-radius: 300px;
}
section > ul{
    letter-spacing: 5px;
    list-style-type: none;
}
ul ~ p {
    text-align: center;
}

